#allLoading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: #5e5a5a94;
}

#container {
    width: 210px;
    height: 210px;
    margin: 150px auto;
    background-image: url("./block/logo.png");
    background-size: cover;

    animation: logoAnimation 2s infinite alternate;
}

@keyframes logoAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}